/*  FONT STYLES START*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');


@import url('https://fonts.googleapis.com/css?family=Mina');

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');






/* FONT STYLES END */

/* NAV/HERO STYLES START */

.desk-bg {
    background-image: url('../img/desk_jumbo.jpg');
    background-position: fixed;
    width: 100%;
    height: 980px;
    background-position: center;
    background-size: cover;
}

.nav-row {
    margin-top: 10px;
    padding-left: 20px;
}

.nav-pills {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.nav>li>a {
    color: #EAD8AC;
}

.name-title {
    padding-left: 47px;

}


/* NAV/HERO STYLES END */

/* CONTENT STYLES STARTS */

.about-container {
    width: 100%;
}

/* ABOUT ME STYLES START */

.about-row {
    display: flex;
    justify-content: center;
}

.about-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ABOUT ME STYLES END */

/* SKILLS LABEL STYLES START */

.content-container {
    width: 100%;
    background-image: url('../img/plain-desk.jpg');
    background-position: center;
    background-size: cover;
    height: 900px;
}

.skills_row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.skills_label {
    font-family: 'Alegreya SC', serif;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/* SKILLS LABEL STYLES END */

/* THUMBNAIL STYLES START */

.thumbnail_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail>img {
    height: 150px;
}

.thumbnail {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    padding-bottom: 30px;
}



/* THUMBNAIL STYLES END */

/* PROJECT THUMBNAIL STYLES START */

.project_thumbnail>img {
    height: 150px;
}

/* PROJECT THUMBNAIL STYLES END */

/* CONTENT STYLES END */

/* COLORS START */

.indian-red {
    color: #C46C54;
}

.pale-goldenrod {
    color: #EAD8AC;
}


/* COLORS END */

/* HR TAG STYLES START */

hr {
    margin-top: 60px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-top: 6px solid #7A9179;
}

/* HR TAG STYLES END */

/* FONT STYLES START */

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.amatic {
    font-family: 'Amatic SC', cursive;
}

.merriweather-bold {
    font-family: 'Merriweather', serif;
}

.merriweather {
    font-family: 'Merriweather:400', serif;
}

/* FONT STYLES END */

/* MEDIA QUERIES START */

@media screen and (min-width: 1000px) and (max-width: 1302px) {
    .nav>li>a {
        padding: 10px 10px;
    }

    .nav-row {
        padding-left: 0;
    }

    .nav-col {
        padding-left: 0;
    }

    .name-title {
        padding-left: 0;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1000px) {
    .nav-pills {
        font-size: 2em;
    }
}


/* MEDIA QUERIES END */